*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:bisque;
}
.toolbox-cont{
    background-color:rgb(8, 75, 71);
    height:5rem;
    display:flex;
    align-items:center;
}
   
 .toolbox-priority-cont{
        height:3rem;
        background-color:beige;
        width:18rem;
        margin-left:5rem;
        display:flex;
        align-items:center;
        justify-content:space-evenly;

    }
    .action-btn-cont{
        background-color:beige;
        width:10rem;
        height:3rem;
        margin-left:5rem;
        display:flex;
        justify-content:space-around;
        align-items:center;
        
    }
    .color{
        background-color:black;
        width:3rem;
        height:1.5rem;
    }
   .lightpink{
    background-color:lightpink;
   }
   .blue{
    background-color:lightblue;
   }
   .green{
    background-color:lightgreen;
   }
   .black{
    background-color:black;
   }
   .add-btn{
    font-size:x-large;
    color:green;
   }
   .remove-btn{
    font-size:x-large;
    color:red;
   }